form {
  height: 600px;
}

.inputs-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}

.input-label {
  color: white;
}

.register.validation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  flex-direction: column;
}

.submit-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.submit-div * {
  width: 50%;
}

.submit-div button[type="submit"]:active {
  color: var(--BackgroundColor);
  background-color: var(--MainColor);
}
