table * {
  border-radius: 0px;
}

.table-div {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  width: 100%;
  align-self: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  table-layout: auto;
}

tr {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

thead tr {
  background-color: var(--MainColor-2);
  color: white;
  text-align: left;
}

th,
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

th {
  padding: 15px;
  font-size: 1.1rem;
}

td {
  padding: 15px;
  font-size: 1rem;
}

tbody tr:nth-of-type(even) {
  background-color: var(--MainColor-4);
  color: white;
}

tfoot tr {
  background-color: var(--MainColor-2);
  color: white;
  font-weight: bold;
  grid-template-columns: 1fr;
}

tfoot td {
  padding: 10px 15px;
  text-align: right;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 80px;
}

.goals-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
