form {
  height: 540px;
}

.inputs-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}

.label {
  color: white;
}

.login.validation {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 30px;
  flex-direction: column;
}

.remember-me-div {
  display: flex;
  align-items: center;
  padding-top: 20px;
  height: 10px;
}

.remember-me-div input {
  accent-color: var(--BackgroundColor);
}

.remember-me-div label {
  color: var(--BackgroundColor);
  padding-left: 10px;
  font-size: 18px;
}

.signin-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.signin-div button:last-child {
  width: 50%;
  height: 50px;
  font-size: 25px;
  color: var(--MainColor);
  border: 1px solid var(--BackgroundColor);
}

.signin-div button:active {
  color: var(--BackgroundColor);
  background-color: var(--MainColor);
}
